
/* Your CSS Code here. */
.holder{
	background-color: red;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.a{
	background-color: blue;
	padding:10px;
	margin:10px;
	width:100px;
	
}